@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom Scrollbar for Studio Mode */
  .dark ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .dark ::-webkit-scrollbar-track {
    background: #020617;
  }
  .dark ::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 5px;
    border: 2px solid #020617;
  }
  .dark ::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
  
  .scrollbar-hidden::-webkit-scrollbar {
    visibility: hidden;
    width: 10px;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .editor-layer {
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 0;
  }
}
